<sva-button
  [buttonType]="ButtonType.Primary"
  (click)="addRandomTask()"
  ariaLabel="Add random task"
>
  Add random task
</sva-button>
<sva-break-line />
<sva-break-line />
@if (loading()) {
  <sva-loader />
} @else {
  <sva-table [tableModifier]="TableModifier.Zebra">
    <thead>
      <tr>
        <th id="id" class="border p-2">Id</th>
        <th id="title" class="border p-2">Title</th>
        <th id="description" class="border p-2">Description</th>
        <th id="priority" class="border p-2">Priority</th>
        <th id="status" class="border p-2">Status</th>
        <th id="depends-on" class="border p-2">Depends On</th>
        <th id="started-at" class="border p-2">Started At</th>
        <th id="completed-at" class="border p-2">Completed At</th>
        <th id="blocked-reason" class="border p-2">Blocked Reason</th>
        <th id="row-edition-action" class="border p-2"></th>
        <th id="restart-action" class="border p-2"></th>
        <th id="cancel-action" class="border p-2"></th>
      </tr>
    </thead>
    <tbody
      class="[&>*:nth-child(odd)]:bg-white [&>*:nth-child(even)]:bg-stone-300"
    >
      @if (tasks$ | async; as tasks) {
        @for (task of tasks; track task.id) {
          <tr>
            <td class="border p-2" [id]="task.id">{{ task.id }}</td>
            <td class="border p-2">{{ task.title }}</td>
            <td class="border p-2">{{ task.description }}</td>
            <td class="border p-2">
              <sva-badge
                [badgeColor]="getBadgeColorByPriority(task.priority)"
                [badgeSize]="BadgeSize.Medium"
                [badgeStyle]="BadgeStyle.None"
              >
                {{ getPriorityNameByValue(task.priority) }}
              </sva-badge>
            </td>
            <td class="border p-2">
              <sva-badge
                [badgeColor]="getBadgeColorByStatus(task.status)"
                [badgeSize]="BadgeSize.Medium"
                [badgeStyle]="BadgeStyle.None"
              >
                {{ getStatusNameByValue(task.status) }}
                @if (task.status === Status.InProgress) {
                  <sva-loader [loaderSize]="LoaderSize.ExtraSmall" />
                }
              </sva-badge>
            </td>
            <td class="border p-2">
              {{ getRelatedTaskNames(task.dependsOn) }}
            </td>
            <td class="border p-2">
              {{ task.startAt | date: "MMM dd, yyyy 'at' hh:mm a" }}
            </td>
            <td class="border p-2">
              {{ task.completedAt | date: "MMM dd, yyyy 'at' hh:mm a" }}
            </td>
            <td class="border p-2">{{ task.blockReason }}</td>
            <td class="border p-2 text-center">
              <sva-button
                [buttonType]="ButtonType.Primary"
                [buttonBehaviour]="
                  task.status !== Status.InProgress
                    ? ButtonBehaviour.Active
                    : ButtonBehaviour.Disabled
                "
                ariaLabel="Edit task start at date"
                (click)="startTaskEdition(task)"
              >
                <sva-calendar-days-icon />
              </sva-button>
            </td>
            <td class="border p-2 text-center">
              <sva-button
                [buttonType]="ButtonType.Info"
                [buttonBehaviour]="
                  task.attempts <= 2 &&
                  (task.status === Status.Cancelled ||
                    task.status === Status.Failed)
                    ? ButtonBehaviour.Active
                    : ButtonBehaviour.Disabled
                "
                ariaLabel="Restart task"
                (click)="runTask(task.id)"
              >
                <sva-arrow-path-icon />
              </sva-button>
            </td>
            <td class="border p-2 text-center">
              <sva-button
                [buttonType]="ButtonType.Error"
                [buttonBehaviour]="
                  task.status === Status.InProgress
                    ? ButtonBehaviour.Active
                    : ButtonBehaviour.Disabled
                "
                ariaLabel="Cancel task"
                (click)="cancelTask(task.id)"
              >
                <sva-x-mark-icon />
              </sva-button>
            </td>
          </tr>
        }
      } @else {
        <tr>
          <td class="border p-2">There are no items.</td>
        </tr>
      }
    </tbody>
  </sva-table>
}

<dialog #modal id="modal" class="modal">
  <div class="modal-box">
    <sva-heading-2>{{ taskToEdit()?.title }}</sva-heading-2>
    <sva-break-line />
    <sva-paragraph>Insert startAt date:</sva-paragraph>
    <sva-break-line />
    <sva-break-line />
    <sva-date-input [(ngModel)]="startAtDate" ngDefaultControl />
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <sva-button
          [buttonType]="ButtonType.Primary"
          ariaLabel="Save task edition"
          (click)="submitTaskEdition()"
        >
          Save
        </sva-button>
        <sva-button
          [buttonType]="ButtonType.Ghost"
          ariaLabel="Cancel task edition"
          (click)="cancelTaskEdition()"
        >
          Cancel
        </sva-button>
      </form>
    </div>
  </div>
</dialog>
