<sva-button (click)="addRandomTask()" ariaLabel="Add random task">
  Add random task
</sva-button>
<sva-break-line />
<sva-break-line />
@if (loading()) {
  <sva-loader />
} @else {
  <sva-table>
    <th header id="id">Id</th>
    <th header id="title">Title</th>
    <th header id="description">Description</th>
    <th header id="priority">Priority</th>
    <th header id="status">Status</th>
    <th header id="depends-on">Depends On</th>
    <th header id="started-at">Started At</th>
    <th header id="completed-at">Completed At</th>
    <th header id="blocked-reason">Blocked Reason</th>
    <th header id="schedule-action">Schedule</th>
    <th header id="restart-action">Restart</th>
    <th header id="cancel-action">Cancel</th>

    @if (tasks$ | async; as tasks) {
      @for (task of tasks; track task.id) {
        <tr>
          <td [id]="task.id">{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>
            <sva-badge
              [badgeColor]="getBadgeColorByPriority(task.priority)"
              [badgeSize]="BadgeSize.Medium"
              [badgeStyle]="BadgeStyle.None"
            >
              {{ getPriorityNameByValue(task.priority) }}
            </sva-badge>
          </td>
          <td>
            <sva-badge
              [badgeColor]="getBadgeColorByStatus(task.status)"
              [badgeSize]="BadgeSize.Medium"
              [badgeStyle]="BadgeStyle.None"
            >
              {{ getStatusNameByValue(task.status) }}
              @if (task.status === Status.InProgress) {
                <sva-loader [loaderSize]="LoaderSize.ExtraSmall" />
              }
            </sva-badge>
          </td>
          <td>
            {{ getRelatedTaskNames(task.dependsOn) }}
          </td>
          <td>
            {{ task.startAt | date: "MMM dd, yyyy 'at' hh:mm a" }}
          </td>
          <td>
            {{ task.completedAt | date: "MMM dd, yyyy 'at' hh:mm a" }}
          </td>
          <td>{{ task.blockReason }}</td>
          <td class="border p-2 text-center">
            <sva-button
              [buttonType]="ButtonType.Primary"
              [buttonBehaviour]="
                task.status !== Status.InProgress
                  ? ButtonBehaviour.Active
                  : ButtonBehaviour.Disabled
              "
              ariaLabel="Edit task start at date"
              (click)="startTaskEdition(task)"
            >
              <sva-calendar-days-icon />
            </sva-button>
          </td>
          <td class="border p-2 text-center">
            <sva-button
              [buttonType]="ButtonType.Info"
              [buttonBehaviour]="
                task.attempts <= 2 &&
                (task.status === Status.Cancelled ||
                  task.status === Status.Failed)
                  ? ButtonBehaviour.Active
                  : ButtonBehaviour.Disabled
              "
              ariaLabel="Restart task"
              (click)="runTask(task.id)"
            >
              <sva-arrow-path-icon />
            </sva-button>
          </td>
          <td class="border p-2 text-center">
            <sva-button
              [buttonType]="ButtonType.Error"
              [buttonBehaviour]="
                task.status === Status.InProgress
                  ? ButtonBehaviour.Active
                  : ButtonBehaviour.Disabled
              "
              ariaLabel="Cancel task"
              (click)="cancelTask(task.id)"
            >
              <sva-x-mark-icon />
            </sva-button>
          </td>
        </tr>
      }
    } @else {
      <tr>
        <td>There are no items.</td>
      </tr>
    }
  </sva-table>
}

<dialog #modal id="modal" class="modal">
  <div class="modal-box">
    <sva-heading-2>{{ taskToEdit()?.title }}</sva-heading-2>
    <sva-break-line />
    <sva-paragraph>Insert startAt date:</sva-paragraph>
    <sva-break-line />
    <sva-break-line />
    <sva-date-input [(ngModel)]="startAtDate" ngDefaultControl />
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <sva-button
          [buttonType]="ButtonType.Primary"
          ariaLabel="Save task edition"
          (click)="submitTaskEdition()"
        >
          Save
        </sva-button>
        <sva-button
          [buttonType]="ButtonType.Ghost"
          ariaLabel="Cancel task edition"
          (click)="cancelTaskEdition()"
        >
          Cancel
        </sva-button>
      </form>
    </div>
  </div>
</dialog>
