<div
  role="alert"
  [class]="`alert ${alertColor()} ${alertDirection()} ${alertStyle()}`"
>
  @switch (alertColor()) {
    @case (AlertColor.Error) {
      <nlnd-x-circle-icon />
    }
    @case (AlertColor.Info) {
      <nlnd-info-icon />
    }
    @case (AlertColor.Success) {
      <nlnd-check-badge-icon />
    }
    @case (AlertColor.Warning) {
      <nlnd-exclamation-tringle-icon />
    }
    @default {
      <nlnd-info-icon />
    }
  }
  <span><ng-content>badge text fallback</ng-content></span>
</div>
