<div
  role="alert"
  [class]="'alert ${alertColor()} ${alertDirection()} ${alertStyle()}'">
  @switch (alertColor()) {
    @case (AlertColor.Error) {
      <sva-x-circle-icon />
    }
    @case (AlertColor.Info) {
      <sva-info-icon />
    }
    @case (AlertColor.Success) {
      <sva-check-badge-icon />
    }
    @case (AlertColor.Warning) {
      <sva-exclamation-tringle-icon />
    }
    @default {
      <sva-info-icon />
    }
  }
  <span><ng-content>badge text fallback</ng-content></span>
</div>
