@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);

  --color-light-background: oklch(98.7% 0.022 95.277);
  --color-light-background-highlighted: oklch(96.2% 0.059 95.617);
  --color-light-background-contrast: var(--color-black);
  --color-light-accent: oklch(44.4% 0.177 26.899);

  --color-dark-background: oklch(21.6% 0.006 56.043);
  --color-dark-background-highlighted: oklch(37.4% 0.01 67.558);
  --color-dark-background-contrast: var(--color-white);
  --color-dark-accent: oklch(89.7% 0.196 126.665);
}

html.light {
  color: var(--color-light-background-contrast);
}

html.dark {
  color: var(--color-dark-background-contrast);
}
